<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.oldrich.ecommerce">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>


    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application xmlns:tools="http://schemas.android.com/tools"
        android:allowBackup="true"
        android:icon="@mipmap/finalicon2_round"
        android:label="eMart"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/finalicon2_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ecommerce"
        tools:replace="allowBackup, label">
        <activity android:name="com.oldrich.ecommerce.actvities.eWealthlink" />
        <activity android:name="com.oldrich.ecommerce.Webview" />
        <activity android:name="com.oldrich.ecommerce.actvities.MessagesActivity" />
        <activity android:name="com.oldrich.ecommerce.actvities.ShippingActivity" />
        <activity android:name="com.oldrich.ecommerce.actvities.VerifyActivity" />
        <activity android:name="com.oldrich.ecommerce.actvities.DialogActivity2" />
        <activity android:name="com.oldrich.ecommerce.actvities.ChangePassword" />
        <activity android:name="com.oldrich.ecommerce.actvities.ResetPassword" />
        <activity android:name="com.oldrich.ecommerce.actvities.RegistrationActivity" />
        <activity android:name="com.oldrich.ecommerce.actvities.ProfileActivity" />
        <activity android:name="com.oldrich.ecommerce.actvities.CheckoutActivity" />
        <activity android:name="com.oldrich.ecommerce.actvities.PaymentActiviy" />
        <activity android:name="com.oldrich.ecommerce.actvities.AddAddressActivity" />
        <activity android:name="com.oldrich.ecommerce.actvities.AddressActivity" />
        <activity android:name="com.oldrich.ecommerce.actvities.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.oldrich.ecommerce.actvities.LoginActivity" />
        <activity android:name="com.oldrich.ecommerce.actvities.MainActivity" />
        <activity android:name="com.oldrich.ecommerce.actvities.DetailedActivity" />
        <activity android:name="com.oldrich.ecommerce.actvities.CartActivity" />
        <activity
            android:name="com.oldrich.ecommerce.actvities.ShowAllActivity"
            android:label="@string/title_activity_show_all" />
        <activity
            android:name="com.oldrich.ecommerce.actvities.ShowAllActivity2"
            android:label="ShowAllActivity2" />
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/> <!-- optional (needed if default theme has no action bar) -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name="com.oldrich.ecommerce.actvities.PushNotifications"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />
            </intent-filter>
        </service>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.com.vansuita.pickimage.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/picker_provider_paths" />
        </provider>
    </application>

</manifest>
